@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	counter-reset: instruction;
	background-color: #ffffff;
	font-family: "Playfair Display", monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

header,
main,
footer {
	width: 60%;
	margin: auto;
}

header {
	margin: 3rem auto;
}

header > h1 {
	font-size: 2.7rem;
	margin-bottom: 0.5rem;
}

#description {
	width: 60%;
	font-family: "Montserrat", monospace;
}

#description > * {
	display: inline;
}

#description > img {
	margin-right: 0.5rem;
}

#description > p {
	font-style: italic;
	width: 15ch;
	padding-right: 2rem;
}

main {
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

#cake-preview {
	overflow: hidden;
	margin-bottom: 2rem;
}

#cake-preview > img {
	max-width: 100%;
	object-fit: contain;
}

.section > h2 {
	margin-bottom: 2rem;
}

#content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.ingredients {
	color: #333333;
	margin-bottom: 2rem;
}

.ingredients > h3 {
	font-style: italic;
	margin-bottom: 2rem;
}

.section ul {
	list-style: none;
}

.section ul > li {
	font-family: "Montserrat", monospace;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

.section ul > li > input {
	cursor: pointer;
	margin-right: 0.5rem;
}

.ingredients > ul > li:last-child {
	width: 45ch;
}

#infos {
	width: 216px;
	height: 367px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	font-family: "Montserrat", monospace;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

.info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}

#yield p {
	color: #f2994a;
	font-weight: bold;
}

.info h4 {
	text-transform: uppercase;
	color: #bdbdbd;
	font-weight: normal;
}

.info > img {
	max-width: 10%;
	object-fit: contain;
}

.instruction::before {
	counter-increment: instruction;
	content: counter(instruction);
	margin-right: 1rem;
	color: white;
	background-color: #f2994a;
	border-radius: 6px;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	font-family: "Playfair Display", monospace;
	font-size: 1.3rem;
}

.instruction {
	display: flex;
}

.instruction > span {
	display: block;
	width: 50ch;
}

#quote {
	font-family: "Montserrat", monospace;
	color: #bdbdbd;
	font-style: italic;
	margin-top: 3rem;
}

footer {
	width: 90%;
	text-align: center;
	color: #bdbdbd;
	padding-bottom: 2rem;
}

@media only screen and (max-width: 1630px) {
	#description {
		width: 90%;
	}

	#content {
		flex-direction: column-reverse;
	}

	#infos {
		flex-direction: row;
		box-shadow: none;
		width: 100%;
		height: initial;
		margin: 2rem 0 3rem 0;
	}
}

@media only screen and (max-width: 1300px) {
	.info > img {
		max-width: 15%;
	}
}

@media only screen and (max-width: 800px) {
	header,
	main {
		width: 90%;
	}
}

@media only screen and (max-width: 600px) {
	.info > img {
		max-width: 25%;
	}
}
